/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 20, 2015, 1:01:50 PM
    Author     : khairul
*/

.kha-new { 
    margin-left:auto;
    margin-right:auto;
    min-width: 1100px;
    min-height:400px;
    background: #D2E9FF;
    padding: 10px 20px 20px 20px;
    font: 14px Arial, Tahoma, Helvetica, sans-serif;
    color: #000000;
}
.kha-new input[type="a"]{ 
    color: #000;
    width: 150px;
    padding: 0px 0px 0px 20px;
    border: 1px solid #ccc;
    height:20px;
    background: #fff;
    border: 1px solid #ccc;

    border: none; 
    font: 200 16px/25px Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:bold;


}
.kha-new h1 {
    font: 20px "Tahoma", Arial, Helvetica, sans-serif;
    padding: 4px 8px 8px 18px;
    display: block;
    background: #80C2FF;
    color:white;
    text-align: center;
    border-bottom: 1px solid #B8DDFF;
    margin: -10px -20px 15px;
}
.kha-new .bu{
    padding: 6px 15px 6px 18px;
    background: #3EB1DD;
    border: none;
    color: #08088A;
    border-radius:4px;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;

}
.kha-new .bu:hover{
    background: white;
    color:green;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    box-shadow: 0px 5px 5px 5px #4C6;
    font-weight:bold;
}  

table.kha {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px 150px;
    font-size: 8pt;
    width: 70%;
    text-align: left;
}
table.kha thead tr th, table.kha tfoot tr th {
    height:40px;
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
}
table.kha thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.kha tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.kha tbody tr.odd td {
    background-color:#F0F0F6;
}
table.kha thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.kha thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.kha thead tr .headerSortDown, table.kha thead tr .headerSortUp {
    background-color: #8dbdd8;
}
.rcorners2 {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 600px;
    position:relative;
    height: 330px;    
    line-height:30px;
    margin:0 150px;
}

.div2 {
    border: 2px solid #8AC007;
    border-radius: 25px;
    padding: 20px; 
    width: 485px;
    position:relative;
    top: -330px;
    left:650px;      
    line-height:30px;
    margin:0 150px;
}
.div3 {
    border: 2px solid #8AC007;
    border-radius: 25px;
    padding: 20px; 
    width: 485px;
    position:absolute;
    top: 630px;
    left:650px;      
    line-height:30px;
    margin:0 150px;
}
.div4 {
    border: 2px solid #8AC007;
    border-radius: 25px;
    padding: 20px; 
    width: 485px;
    min-height:100px;
    position:relative;
    top: -330px;
    left:650px;      
    line-height:30px;
    margin:0 150px;
}

.csinput{
    width:100px; 
    text-align:center;  
    color:blue;  
    font-size:18px; 
    font-weight:bold;
}

.normaltext{ 
    width:110px; 
    font-size:14px; 
    text-align: right;  
    border: 1px solid #ccc;
}


table.k {
    font-family:arial;
    background-color: #CDCDCD;
    font-size: 10pt;
    width: 90%;
    text-align: center;
}
table.k tbody th {
    color: #3D3D3D;
    padding: 4px;
    background-color: #F2F2F2;
    vertical-align: top;
}
table.k tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.k tbody tr.odd td {
    background-color:#F0F0F6;
}
.kha-aero1  table {	 
    padding:20px;
    width:70%;
}

.kha-aero1  thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-align:center;
}

.kha-aero1  th {
    font-size: 14px;
    line-height:220%;
    text-align:right;
}

.kha-aero1  td {
    border:1px solid #ccc;
    padding:0px 0px 0px 5px;
}

.kha-aero1 .bu{
    padding: 6px 15px 6px 18px;
    background: #3EB1DD;
    border: none;
    color: #08088A;
    border-radius:4px;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
}
.kha-aero1 .bu:hover{
    background: white;
    color:green;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    box-shadow: 0px 5px 5px 5px #4C6;
    font-weight:bold;
}

.kha-aero { 
    margin-left:auto;
    margin-right:auto;
    min-width: 1100px;
    min-height:210px;
    background: #D2E9FF;
    padding: 10px 20px 20px 20px;
    font: 16px Arial, Tahoma, Helvetica, sans-serif;
    color: #000000;
    line-height: 180%;
}
.kha-aero h1 {
    font: 20px "Tahoma", Arial, Helvetica, sans-serif;
    padding: 4px 8px 4px 18px;
    display: block;
    background: #80C2FF;
    color:white;
    text-align: center;
    border-bottom: 1px solid #B8DDFF;
    margin: -10px -20px 15px;
}
.kha-aero h1>span {
    display: block;
    font-size: 11px;
}

.kha-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.kha-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.kha-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.kha-aero input[type="text"], .kha-aero input[type="email"] {
    color: #000;
    width: 150px;
    padding: 0px 0px 0px 10px;
    border: 1px solid #C5E2FF;
    outline: 0;
    background: #fff;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    border: none;
    font: 200 16px/25px Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:bold;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}


.kha-aero select11 {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 70%;

}

.kha-aero textarea{
    height:50px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.kha-aero select  {

    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #black;
    font-size: inherit;
    margin: 10px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}
.kha-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #08088A;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:18px;
    font-weight:bold;

}
.kha-aero .button:hover{
    background: #3EB1DD;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    font-weight:bold;
}


.kha-aero .bu{
    padding: 6px 15px 6px 18px;
    background: #3EB1DD;
    border: none;
    color: #08088A;
    border-radius:4px;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;

}
.kha-aero .bu:hover{
    background: white;
    color:green;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    box-shadow: 0px 5px 5px 5px #4C6;
    font-weight:bold;
}  

.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-bed::before {
    content: "\0042""\0045""\0044";
}
.icon-select::before {
    content: "\0042";
}

.fieldset1 {
    padding: .3em;
    width:750px;
    height:150px;
    border:3px solid green;
    line-height:2em;
}

.fieldset2 {
    padding: .5em;
    width:650px;
    height:150px;
    border:3px solid green;
    line-height:2em;
}
.bof  { 
    appearance: none;
    outline: 0;
    border: 1px solid #3CB371;
    background-color: #fff;
    width: 250px;
    height:30px;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 10px auto 10px auto;
    text-align: left;
    font-size: 16px;
    color: #808080;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 200;
}
.bof:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor:pointer;
}
.bof:focus {
    background-color: white;
    width: 260px;
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}