/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2015, 11:20:17 PM
    Author     : khairul
*/


.kha-aero { 
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    box-shadow: 10px 10px 5px #888888;
    max-width: 1300px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 16px Arial, Tahoma, Helvetica, sans-serif;
    color: #000000;
    line-height: 140%;
}
.kha-aero h1 {
    font: 24px Tahoma, Arial, Helvetica, "sans-serif";
    font-weight:bold;
    color:#173B0B;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #80C2FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 0px;
    text-align:center;
}
.kha-aero h1>span {
    display: block;
    font-size: 11px;
}

.kha-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.kha-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.kha-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.kha-aero input[type="text"], .kha-aero input[type="email"] {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #black;
    font-size: inherit;
    margin: 10px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15%;
}
.kha_inb{
    width: 80%;
    height:30px;
}

.kha-aero select11 {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 70%;

}

.kha-aero textarea{
    height:40px;
    padding: 5px 0px 0px 5px;
    width: 20%;
}
.kha_select  {

    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #black;
    font-size: inherit;
    margin: 10px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    height:80px;

}
.kha-aero .button{
    padding: 6px 15px 6px 18px;
    background: #3EB1DD;
    border: none;
    color: #08088A;
    border-radius:4px;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;

}
.kha-aero .button:hover{
    background: white;
    color:green;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    box-shadow: 0px 5px 5px 5px #4C6;
    font-weight:bold;
} 

.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-bed::before {
    content: "\0042""\0045""\0044";
}
.icon-select::before {
    content: "\0042";
}

.kha-ref { 
    max-width: 80%;
    min-height: 200px;
    padding: 20px 20px 20px 20px;
    font: 16px Arial, Tahoma, Helvetica, sans-serif;
    color: #000000;
    line-height: 180%;
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D2E9FF), color-stop(1, #FFFFFF));
    background:-moz-linear-gradient(top, #D2E9FF 5%, #FFFFFF 100%);
    background:-webkit-linear-gradient(top, #D2E9FF 5%, #FFFFFF 100%);
    background:-o-linear-gradient(top, #D2E9FF 5%, #FFFFFF 100%);
    background:-ms-linear-gradient(top, #D2E9FF 5%, #FFFFFF 100%);
    background:linear-gradient(to bottom, #D2E9FF 5%, #FFFFFF 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#476e9e',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #4e6096;
    box-shadow: 10px 10px 5px #888888;
    cursor:pointer;
    color:#000000;
    font-family:arial;
    font-size:16px;
    padding:10px 30px;
    text-decoration:none;
}
.kha-ref input[type="text"], .kha-uds input[type="email"] {
    border-radius:10px 2px 10px 2px;
    border: 1px solid #AAA;
    color: #black;
    font-size: inherit;
    padding-left:20px;
    width: 80%;
    height:50px;
}
.button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #08088A;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    border-radius:10px;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;


} 
.button:hover{
    background: green;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    font-weight:bold;
    cursor:pointer;
    color:#fff;
}

.kha-nf { 
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    box-shadow: 10px 10px 5px #888888;
    max-width: 1300px;
    min-height:500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 16px Arial, Tahoma, Helvetica, sans-serif;
    color: #000000;
    line-height: 140%;
}
.kha-nf h1 {
    font: 24px Tahoma, Arial, Helvetica, "sans-serif";
    font-weight:bold;
    color:#173B0B;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #80C2FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 0px;
    text-align:center;
}
.kha-nf h1>span {
    display: block;
    font-size: 11px;
}

.kha-nf label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.kha-nf label {
    display: block;
    margin: 0px 0px 5px;
}
.kha-nf label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.kha-nf input[type="text"], .kha-nf input[type="email"] { 
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #black;
    font-size: inherit;
    margin: 10px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    color:green; 
    font-size:18px;  
    text-align:left;"
}
.kha_inb{
    width: 80%;
    height:30px;
}

.kha-nf select{
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #fff;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding: 5px 10px;
    cursor:pointer;
    width: 30%;
    font-size:18px;
}

.kha-nf textarea{
    height:40px;
    padding: 5px 0px 0px 5px;
    width: 20%;
}
.kha_select  {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #black;
    font-size: inherit;
    margin: 10px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    height:80px;
}
.kha-nf .button{
    padding: 6px 15px 6px 18px;
    background: #3EB1DD;
    border: none;
    color: #08088A;
    border-radius:4px;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 3px 1px 5px #ffffff;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
}
.kha-nf .button:hover{
    background: white;
    color:green;
    text-shadow: 3px 1px 5px 4px #F7FE2E;
    box-shadow: 0px 5px 5px 5px #4C6;
    font-weight:bold;
} 